parameters:
    paths:
        - app/
        - ../packages/ijideals/social-posts/src/
        - ../packages/ijideals/followable/src/
        - ../packages/ijideals/user-profile/src/
        - ../packages/ijideals/likeable/src/
    level: 5
    checkModelProperties: true
    # checkOctaneCompatibility: true # Commenté car non pertinent pour l'instant

# L'extension Larastan est auto-chargée par phpstan/extension-installer
# donc l'include manuel n'est plus nécessaire et cause un avertissement.
# includes:
#     - ./vendor/larastan/larastan/extension.neon
